html{
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: linear-gradient(to bottom, rgb(185, 21, 21) 50%, rgb(187, 182, 182) 50%);    
}
input[type="text"]{
    margin: 20px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(190, 100, 100);
    font-weight: bold;
}
button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 25vw;
    cursor: pointer;
}
button:hover{
    background-color: rgb(66, 66, 66);
    color: white;
}
img{
    margin-top: 20px;
    width: 50%;
    height: 50%;
}
#container{
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.599) 50%, rgba(255, 255, 255, 0.367) 50%);
    box-shadow: 6px 7px 10px black, 
    -1px -1px 5px black;
}
#Data{
    text-align: center;
    white-space: pre-line;
    font-size: 1em;
}